@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Outfit:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: rgb(195, 208, 230);    
}

section {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 16rem;
    height: 26rem;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container img {
    margin: 15px 0;
    width: 230px;
    height: 230px;
    border-radius: 10px;
}

.container h6 {
    text-align: center;
    color: rgb(70, 70, 75);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.05rem;
    margin: 10px 24px;
}

.container p {
    text-align: center;
    font-size: 13px;
    font-weight: 400s;
    color: rgb(117, 117, 117);
    margin:  4px 1rem;

}